body {
  font: 9pt Verdana;
}
table, tr, th, td {
    border-collapse: collapse; /*needs to be collapsed for tr to take border argument*/
    text-align:right;
    /*border: 5pt solid green;*/
}
td {
  padding-left: 2em;
  white-space: pre;
}
thead {
    /* color: red; */
    font-weight: bold;
}
tfoot {
    color: blue;
    border-top: 1pt solid black;
}
table {
  margin: 2em;
}
td .green {
  color: green;
}
.table_header_toprow {
    text-align: center;
}
.border_right {
     border-right: 1pt solid black;
}
tbody tr:nth-child(odd):hover, tbody tr:hover{
    background: yellow;
}
tbody tr:nth-child(odd){
  background: #eee;
}
thead tr:last-child{
    border-bottom: 1pt solid black;
}
#venuesAndSources > *{
  display: inline-block;
  vertical-align: top;
}
#summary > table {
 display: inline-block; 
 vertical-align: top;
}

@media print {
    .noprint {
        display: none;
    }
    @page {
        size: A3 landscape; /*might only work in chrome*/
        margin: 0.5cm;
    }
    body {
      font: 8pt Verdana;
    }

}

form {
  height: 120px;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
}

form > * {
  margin: 5px;
  display: inline-block;
  vertical-align: bottom;
}
form textarea {
  height: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
     background: rgba(52, 152, 219, .8);
    overflow: auto;
    vertical-align: middle;
}

div.littleBox {
  width: 10px;
  height: 10px;
  border: thin black solid;
  float: left;
  display: inline;
  margin: 5px;
  animation-name: ride;
  animation-duration: 2s;
}
div.littleBox.done {
  background: black;
}
@keyframes ride {
  from {width: 100px;}
  to {width: 10px; }
}
div.bigBox {
  overflow: auto;
  vertical-align: middle;
  line-height: 22px;
  /*height:22px;*/
}

div.bigBox.done {
  animation-name: disappear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards; /*in order to keep the final state*/
}
@keyframes disappear {
  from {height: 22px;}
  to {height: 0px; }
}

/*for the section headlines
  taken from html5boilerplate
*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}